html {
    height : 100%;
    width : 100%;
    padding : 0;
    background-image : url('ressources/beige053.jpg');
}
body {
    width : 100%;
    height : 100%;
    margin : 0;
    padding : 0;
    border: 0;
    outline: 0;
    font-family : Verdana, Arial;
}

header, section {
    padding-left: 5%;
    padding-right: 5%;
}

/* Header */
header {
    padding-top : 1%;
    width : 100%;
    min-height : 150px;
    display : block;
    /*background-color : aqua;*/
    margin-bottom: 0px;
}
#logo {
    display: inline-block;
    max-width: 8%;
    height: auto;
    border-radius : 3px;
    float: left;
    margin-left : 1%;
    margin-right : 0.5%;
}
.titre-page {
    display: inline-block;
    font-size : 2.5em;
}
.authentification {
    display: inline-block;
    /*float: right;*/
    padding-left: 1%;
    font-size : 1em;
}
input {
    margin-left: 0;
    padding: 0;
}
input {
    width: 50%;
    font-size: 1em;
}
input:invalid {
    /*box-shadow: 0 0 2px 1px red;*/
}
input:valid {
    box-shadow: 0 0 2px 1px green;
}
input:required {
}
button {
    display: inline-block;
    float: left;
    margin-right: 1%;
}
button:visited {
    color:black;
}
button > a {
    color : black;
    text-decoration : none;
}
button > a:visited {
    color : black;
}

/* Section */
section {
    min-height: 90%;
}
a {
    color : black;
    text-decoration : none;
}
a:hover {
    color : crimson;
}
a:visited {
    color : gray;
}
/** Bloc de nav **/
aside {
    width : 20%;
    min-height : 30%;
    max-height : max-content;
    background-color : #F5F5F5;
    opacity: 0.6;
    /*background-color : brown;*/
    color : black;
    float : left;
    font-size : 1em;
    padding-left : 1%;
    margin-bottom: 1%;
    border-radius : 7px;
    clear: both;
}
aside > h1 {
    font-size : 1.3em;
    font-weight: normal;
}

/** Corps **/
article {
    margin-left : 22%;
    width : 80%;
    background:transparent;
    background: url(ressources/line.png) 0 -18px no-repeat;
}
article > h1 {
    padding-top:15px;
    font-size : 1.2em;
}
.message-article {
    font-size : 1em;
}
.categorie-article {
    font-size : 0.7em;
}
.lire-suite {
    text-align : right ;
}

/* Footer */
footer {
    padding-top : 1%;
    padding-bottom : 1%;
    font-size : small;
    min-height : 5%;
    max-height : max-content;
    /*background-color: lavender ;*/
    position:relative;
    clear:both;
    width:100%;
    text-align : center;
}
#liens-footer li {
    display: inline;
    border-left: 1px solid #527597;
    padding-right: 1em;
    padding-left: 1em;
}
#liens-footer li.first {
    border-left: 0 none transparent;
}