html {
    height : 100%;
    width : 100%;
    padding : 0;
    background-image : url('ressources/beige053.jpg');
}
body {
    width : 100%;
    height : 100%;
    margin : 0;
    padding : 0;
    border: 0;
    outline: 0;
    font-family : Verdana, Arial;
}

header, section {
    padding-left: 5%;
    padding-right: 5%;
}

/* Header */
header {
    padding-top : 1%;
    width : 100%;
    min-height : 150px;
    display : block;
    /*background-color : aqua;*/
    margin-bottom: 0px;
}
#logo {
    display: inline-block;
    max-width: 8%;
    height: auto;
    border-radius : 3px;
    float: left;
    margin-left : 1%;
    margin-right : 0.5%;
}
.titre-page {
    display: inline-block;
    font-size : 2.5em;
}

/* Section */
section {
    min-height: 90%;
}
a {
    color : black;
    text-decoration : none;
}
a:hover {
    color : crimson;
}
a:visited {
    color : gray;
}


/** Form **/
:required {
    /*background-color: red;*/
}
label {
    font-size: 1.1em;
}
input, textarea, select {
    margin-left: 0;
    padding: 0;
    display: block;
}
input {
    width: 50%;
    font-size: 1em;
}
input:invalid {
    box-shadow: 0 0 2px 1px red;
}

input:valid {
    box-shadow: 0 0 2px 1px green;
}

input:required {
}
textarea {
    width: 50%;
    height: 70%;
    font-size: 1em;
}
select {
    width: 50%;
    font-size: 1em;
}
.champ-obl {
    font-size: 0.8em;
}


/* Footer */
footer {
    padding-top : 1%;
    padding-bottom : 1%;
    font-size : small;
    min-height : 5%;
    max-height : max-content;
    /*background-color: lavender ;*/
    position:relative;
    clear:both;
    width:100%;
    text-align : center;
}
#liens-footer li {
    display: inline;
    border-left: 1px solid #527597;
    padding-right: 1em;
    padding-left: 1em;
}
#liens-footer li.first {
    border-left: 0 none transparent;
}